.details-flex {
  padding: 5px;
  .details-cltext {
    line-height: 10px;
  }
}
.pane-item {
  height: 90vh;
  background-color: #fff;
  padding: 10px 5px 0 5px;
  //   text-align: center;
}
.fengong-button-group {
  position: fixed;
  bottom: 0;
}
