.pane-item {
  // height: calc(100vh - 294px);
  // background-color: rgb(233, 233, 233);
  padding: 10px 5px 0 5px;
  //   text-align: center;
}
.work-fab {
  position: fixed;
  right: 30px;
  bottom: 15%;
}
